<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
  {{> header}}

        <p>Hello. On this page you see an overview of all projects I've worked on.</p>
        <p>Currently it's not much, because I just started with javascript and node.js programming.</p>
        <p>See you next time ;)</p>
        {{> footer}}
    </body>

</html>
